/*h1 {

	color: red;
}*/

/*
1st and 2nd - Red (54)
3rd and 4th characters - Green (20)
5th and 6th characters- Blue (6E)
*/

h1 {

	color: #54206E;

/*	
	border-color: purple;
	border-width: 5px;
	border-style: solid;
*/

	border: 2px purple dashed;

}

/*li {

	color: green;

}*/

/*Just like RGB but with an alpha (transperancy) channel. Ranges from 0.0-1.0*/

li {

	color: rgba(0 ,0 , 0, 0.9);

}

/*h4 {

	color: purple;
}*/

h4 {

	color: rgb(100, 0, 100);
	background: rgb(255, 100, 80);
}

body {

	background: pink;

/*	
	background: url(https://georgehill-timber.co.uk/media/mageplaza/blog/post/s/h/shutterstock_65163166-522x392.jpg);
	background-repeat: no-repeat;
	background-size: cover;
*/

}